/********** Initialize main webpage elements ***********/
* {
    font-family: 'Raleway', sans-serif, Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    word-break: break-word;
}

:root {
    --primary-color: #0065FC;
    --secondary-color: #F2F2F2;
     --primary-contrast-color: #DEEBFF;
    --secondary-contrast-color: #D9D9D9;
    --main-gap: 30px;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.main-container, main {
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
}

.main-container {
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    margin: 0;
}

.fa-solid {
    color: var(--primary-color);
}

.medium-font-weight {
    font-weight: 500;
}

.semibold-font-weight {
    font-weight: 600;
}

.bold-font-weight, h1, h2, h3 {
    font-weight: 700;
}

h1, h2 {
    font-size: 22px;
}

h3 {
    font-size: 16px;
}

h4, h5, h6 {
    font-size: 14px;
}

.neutral-star {
    color: var(--secondary-color)
}

.flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center-left {
    display: flex;
    align-items: center;
    justify-content: left;
}

.flex-center-right {
    display: flex;
    align-items: center;
    justify-content: right;
}

.one-column {
    width: 100%;
}

.two-columns {
    width: calc(50% - var(--main-gap));
}

.three-columns {
    width: calc(33% - var(--main-gap));
}

.four-columns {
    width: calc(25% - var(--main-gap));
}

.simple-txt-button {
    border: none;
    background: none;
    font-size: 18px;
    padding: 0;
    text-decoration: none;
}

/********** Main header style **********/
.main-header {
    display: flex;
    justify-content: space-between;
    height: 79px;
}

.main-header-logo {
    align-self: center;
    & img {
        height: 19px;
    }
}

.main-header-nav {
    display: flex;
    justify-content: right;
    & .main-header-nav-elements {
        list-style: none;
        margin: 0;
        display: flex;
        gap: 68px;
        li {
            height: 38px;
            display: flex;
            align-items: end;
            a {
                text-decoration: none;
            }
        }
        li:hover {
            height: 36px;
            border-top: 2px solid var(--primary-color);
            cursor: pointer;
        }
        li:hover > a {
            color: var(--primary-color);
        }
        a {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            height: 100%;
        }
    }
}

/********** Form filters section style **********/
/**** Search form style ****/
.search-container {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.search-form {
    & .search-form-label {
        height: 50px;
        flex-basis: 50px;
        flex-grow: 0;
        flex-shrink: 0;
        background-color: var(--secondary-color);
        border-radius: 15px 0 0 15px;
        i {
            color: #000000;
        }
    }

    .search-form-field {
        height: 48px;
        padding: 0 20px 0 20px;
        border: 1px solid var(--secondary-color);
        color: black;
        margin-right: -1px;
        font-size: 18px;
        font-weight: 700;
    }

    .search-form-field:focus {
        outline: 1px solid var(--primary-color);
    }

    .search-form-submit-button-desktop, .search-form-submit-button-mobile {
        height: 50px;
        padding: 0 15px 0 15px;
        border: 1px solid var(--primary-color);
        background-color: var(--primary-color);
        color: #FFFFFF;
        margin-left: -2px;
    }

    .search-form-submit-button-desktop, .search-form-submit-button-mobile {
        border-radius: 0 15px 15px 0;
        display: block;
        cursor: pointer;
    }

    .search-form-submit-button-mobile {
        display: none;
        flex-basis: 50px;
        flex-grow: 0;
        flex-shrink: 0;
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px #00000040;
    }
}

/**** Filters style ****/
.search-filters-nav {
    p {
        font-size: 18px;
        margin-right: 15px;
    }
    .search-filters-nav-elements {
        display: flex;
        gap: 15px;
        button {
            height: 50px;
            padding: 0 19px;
            background-color: #FFFFFF;
            border: 2px solid var(--secondary-contrast-color);
            border-radius: 25px;
            font-size: 17px;
            font-weight: 700;
            i {
                margin-right: 10px;
                font-size: 18px;
            }
        }
        button:hover {
            background-color: var(--primary-contrast-color);
            cursor: auto; /* why not pointer?*/
        }
    }
}

/**** Additionnal info style ****/
.seach-additional-infos {
    gap: 10px;
    i {
        height: 22px;
        width: 22px;
        border: 1px solid #D9D9D9;
        border-radius: 25px;
        font-size: 12px;
    }
}

/********** Search results **********/
.search-results-container {
    display: flex;
    align-items: start;
    gap: 40px;
    h2 {
        margin: 0;
    }
    .search-results-accomodations, .search-results-populars, .search-results-populars-section {
        display: flex;
        flex-direction: column;
        gap: var(--main-gap);
    }
    .search-results-accomodations, .search-results-populars {
        padding: 30px;
        border-radius: 15px;
        background-color: var(--secondary-color);
    }
    .search-results-accomodations {
        width: 66%;
    }
    .search-results-populars {
        width: 33%;
        .search-results-populars-title {
            display: flex;
            justify-content: space-between;
        }
    }
}

.search-results-activites {
    padding: 30px;
}

/**** Cards style ****/
.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--main-gap);
    justify-content: space-between;
}

.card {
    overflow: hidden;
    background-color: #FFFFFF;
    border: 5px solid #FFFFFF;
    border-radius: 20px;
    gap: 4px;
    box-shadow: 0px 3px 15px 0px #0000001A;
    text-decoration: none;
    article {
        height: 100%;
    }
    .card-image {
        object-fit: cover;
        width: 100%;
    }
}

.card-accomodation {
    flex-direction: column;
    & .card-image {
        height: 124px;
    }
    & .card-content {
        height: calc(100% - 138px);
    }
}

.card-popular {
    & article {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    & .card-image {
        height: 146px;
        width: 123px;
    }
}

.card-activities {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px #0000001A;
    cursor: pointer;
    text-decoration: none;
    article {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .card-image {
        object-fit: cover;
        height: 380px;
        min-height: 380px; /* for Edge compatibility */ 
    }
    .card-activites-title {
        height: 100%;
        padding: 20px;
        cursor: pointer;
        h3 {
            margin: 0;
        }
    }
}

.card-content, .card-content-txt {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-content {
    justify-content: space-between;
    padding: 5px 10px;
    h3, h4 {
        margin: 0px ;
    }
}

/********** Footer style **********/
.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--secondary-color);
    h3 {
        margin: 0 0 15px 0;
    }
}

.footer-category {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 0;
    gap: 15px;
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
}

/********** Tablet version **********/
@media (max-width: 1024px) {
    .search-results-container {
        flex-wrap: wrap;
        & .search-results-accomodations, .search-results-populars {
            width: 100%;
        }
    }

    .one-column {
        width: calc(33% - var(--main-gap));
    }

    .card-activities {
        & .card-image {
          object-fit: cover;
          height: 200px;
          min-height: 200px; /* For Edge compatibility */
        }
    }

    .card-popular {
        & .card-image {
          height: 146px;
          min-height: 146px; /* For Edge compatibility */
          width: 92px;
        }
    }
}

/********** Mobile version **********/
@media (max-width: 768px) {
    .main-header {
        flex-direction: column;
        height: auto;
    }

    .main-header-logo {
        padding: 30px;
    }

    .main-header-nav {
        justify-content: center;
        & .main-header-nav-elements {
            padding: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 0px;
            li {
                display: flex;
                justify-content: center;
                width: 50%;
                align-items: start;
                border-bottom: 2px solid var(--secondary-color);
            }
            li:active, li:hover {
                border-top: none;
                border-bottom: 2px solid var(--primary-color);
            }
            a {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                height: 100%;
                width: 100%;
            }
            a:active {
                color: var(--primary-color);
            }
        }
    }

    .search-container {
        padding: 0 20px;
    }

    .search-form {
        box-shadow: 0px 0px 0px 10px var(--secondary-color) inset;
        border-radius: 15px;
        & .search-form-field {
            padding: 0px 35px 0 20px;
            width: calc(100% - 120px);
        }
        .search-form-submit-button-desktop {
            display: none;
        }
        .search-form-submit-button-mobile {
            display: block;
            margin-left: -15px;
        }
    }

    .search-filters-nav {
        flex-direction: column;
        align-items: flex-start;
        & .search-filters-nav-elements {
            flex-wrap: wrap;
            button {
                width: calc(50% - 8px);
                font-size: 14px;
                display: flex;
                align-items: center;
            }
        }
    }

    .main-container {
        padding: 0;
    }

    .search-results-container {
        flex-wrap: wrap-reverse;
        & .search-results-populars {
            border-radius: 0;
        }
        .search-results-accomodations {
            background: none;
        }
    }

    .card-content {
        height: auto;
    }

    .cards-container, .footer-container {
        flex-direction: column;
    }

    .footer-container {
        padding: 30px;
        gap: 50px;
    }

    .one-column, .three-columns, .four-columns {
        width: auto;
    }
}